@using NovaWebSolution.Models;
@{
    ViewBag.Title = "Query";
}
@model IEnumerable<FormQuery>
@{
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-4">Query List</h3>
                <table id="Datatable" class="table table-striped table-bordered table-responsive-md" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Query</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FormQueryID</td>
                                <td>@item.FormQueryText</td>
                                <td>@item.FormQueryCreatedDate.ToString("dd-MMM-yyyy")</td>
                                <td>@item.FormQueryStatus</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

