
@{
    ViewBag.Title = "Report";
}
<div class="card">
    <div class="card-body">
        <h5>
            <strong>In Processing</strong>
        </h5>
        YOUR QC REPORT IS UNDER REVIEW...
    </div>
</div>
